layout {
    tab name="scratch" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="long-running" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane
            pane
        }
        pane split_direction="vertical" {
            pane
            pane
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}

