layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="horizontal" {
        pane size="70%" close_on_exit=true {
            name "nvim"
            command "nvim"
        }
        pane split_direction="vertical" {
            pane
            pane
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}

